Repository stoplightio/spectral, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stoplightio/oss-spectral, @stoplightio/documentation, @magicmatatjahu, @smoya, @jonaslagoni

docs(repo): yarn lint.fix
  docs/guides/4-custom-rulesets.md
  docs/guides/4c-aliases.md
  docs/guides/4e-recommended.md
Owners: @stoplightio/documentation

docs(repo): add list of common aliases (#2320)
  docs/guides/4c-aliases.md
  docs/guides/4e-recommended.md
Owners: @stoplightio/documentation

feat(core): lintern changes
  packages/cli/src/formatters/json.ts
  packages/cli/src/services/__tests__/linter.test.ts
Owners: @stoplightio/oss-spectral

feat(core): cli results version output removed
  docs/guides/2-cli.md
  packages/cli/src/commands/__tests__/lint.test.ts
  packages/cli/src/formatters/json.ts
  packages/cli/src/formatters/pretty.ts
  packages/cli/src/formatters/stylish.ts
  packages/cli/src/formatters/types.ts
  packages/cli/src/services/__tests__/linter.test.ts
  test-harness/scenarios/formats/results-default-format-scoring-json.scenario
  test-harness/scenarios/formats/too-few-outputs.scenario
  test-harness/scenarios/formats/too-many-outputs.scenario
  test-harness/scenarios/formats/unmatched-outputs.scenario
  test-harness/scenarios/help-no-document.scenario
  test-harness/scenarios/strict-options.scenario
Owners: @stoplightio/documentation, @stoplightio/oss-spectral

docs(cli): remove -s alias from docs
  docs/guides/2-cli.md
Owners: @stoplightio/documentation

feat(core): changed NOT PASSED message to FAILED on results
  packages/cli/src/commands/lint.ts
  packages/cli/src/formatters/json.ts
  packages/cli/src/formatters/pretty.ts
  packages/cli/src/formatters/stylish.ts
  packages/cli/src/formatters/utils/getScoring.ts
  packages/cli/src/formatters/utils/uniqueErrors.ts
Owners: @stoplightio/oss-spectral

feat(core): cli new parameter alias removed
  packages/cli/src/commands/lint.ts
Owners: @stoplightio/oss-spectral

feat(core): added unique error specified
  docs/guides/2-cli.md
Owners: @stoplightio/documentation

feat(core): changed NOT PASSED message to FAILED on results
  packages/cli/src/formatters/pretty.ts
  packages/cli/src/formatters/stylish.ts
  test-harness/scenarios/overrides/aliases-scoring.scenario
  test-harness/scenarios/severity/fail-on-error-scoring.scenario
Owners: @stoplightio/oss-spectral

feat(core): scoring config file readed with promises
  packages/cli/src/formatters/utils/getScoring.ts
Owners: @stoplightio/oss-spectral

feat(core): scoring data customizable added with config file and CLI parameter scoring threshold not reached returns exit code 1, other returns 0 scoring data tests and readme documentation added
  docs/guides/2-cli.md
  packages/cli/src/commands/__tests__/lint.test.ts
  packages/cli/src/commands/lint.ts
  packages/cli/src/formatters/json.ts
  packages/cli/src/formatters/pretty.ts
  packages/cli/src/formatters/stylish.ts
  packages/cli/src/formatters/types.ts
  packages/cli/src/formatters/utils/getCountsBySeverity.ts
  packages/cli/src/formatters/utils/getScoring.ts
  packages/cli/src/formatters/utils/index.ts
  packages/cli/src/formatters/utils/uniqueErrors.ts
  packages/cli/src/services/__tests__/__fixtures__/scoring-config.json
  packages/cli/src/services/__tests__/linter.test.ts
  packages/cli/src/services/__tests__/output.test.ts
  packages/cli/src/services/config.ts
  packages/core/src/ruleset/index.ts
  packages/core/src/ruleset/utils/severity.ts
  test-harness/scenarios/formats/results-default-format-scoring-json.scenario
  test-harness/scenarios/formats/results-default-scoring.scenario
  test-harness/scenarios/formats/results-format-stylish-scoring.scenario
  test-harness/scenarios/formats/too-few-outputs.scenario
  test-harness/scenarios/formats/too-many-outputs.scenario
  test-harness/scenarios/formats/unmatched-outputs.scenario
  test-harness/scenarios/help-no-document.scenario
  test-harness/scenarios/overrides/aliases-scoring.scenario
  test-harness/scenarios/severity/fail-on-error-no-error-scoring.scenario
  test-harness/scenarios/severity/fail-on-error-scoring.scenario
  test-harness/scenarios/strict-options.scenario
  test-harness/scenarios/valid-no-errors.oas2-scoring.scenario
  test-harness/scenarios/valid-no-errors.oas2.scenario
Owners: @stoplightio/documentation, @stoplightio/oss-spectral

docs(repo): clarified installation steps for cli and core
  docs/getting-started/2-installation.md
Owners: @stoplightio/documentation

docs(repo): clarified installation steps for cli and core (#2370)
  docs/getting-started/2-installation.md
Owners: @stoplightio/documentation

docs(repo): added info about inherited overrides
  docs/guides/4d-overrides.md
Owners: @stoplightio/documentation

docs(repo): formatting
  docs/guides/4d-overrides.md
Owners: @stoplightio/documentation

docs(repo): added info about inherited overrides (#2369)
  docs/guides/4d-overrides.md
Owners: @stoplightio/documentation

docs(cli): apply suggested changes
  docs/guides/2-cli.md
Owners: @stoplightio/documentation

docs(cli): clarified info and changes applied
  docs/guides/2-cli.md
  packages/cli/src/commands/lint.ts
  packages/cli/src/formatters/types.ts
  packages/cli/src/formatters/utils/getScoring.ts
  packages/cli/src/services/__tests__/__fixtures__/scoring-config.json
  packages/cli/src/services/__tests__/output.test.ts
  test-harness/scenarios/formats/results-default-format-scoring-json.scenario
  test-harness/scenarios/formats/results-default-scoring.scenario
  test-harness/scenarios/formats/results-format-stylish-scoring.scenario
  test-harness/scenarios/overrides/aliases-scoring.scenario
  test-harness/scenarios/severity/fail-on-error-no-error-scoring.scenario
  test-harness/scenarios/severity/fail-on-error-scoring.scenario
  test-harness/scenarios/valid-no-errors.oas2-scoring.scenario
Owners: @stoplightio/documentation, @stoplightio/oss-spectral

docs(cli): fixed lint errors
  packages/cli/src/commands/lint.ts
Owners: @stoplightio/oss-spectral

fix(core): reset path in fn context
  packages/core/src/__tests__/linter.test.ts
  packages/core/src/runner/lintNode.ts
Owners: @stoplightio/oss-spectral

fix(core): reset path in fn context (#2389)
  packages/core/src/__tests__/linter.test.ts
  packages/core/src/runner/lintNode.ts
Owners: @stoplightio/oss-spectral

chore(release): 1.16.1 [skip ci]
  packages/core/CHANGELOG.md
  packages/core/package.json
Owners: @stoplightio/oss-spectral

Notes added by 'git notes add'
  d0/d3c4bd6afa2563f1fa489cb6b94852ec65f738
Owners: @stoplightio/oss-spectral

feat(rulesets): support AsyncAPI 2.6.0
  docs/guides/4-custom-rulesets.md
  packages/formats/src/__tests__/asyncapi.test.ts
  packages/formats/src/asyncapi.ts
  packages/rulesets/package.json
  packages/rulesets/src/asyncapi/functions/__tests__/asyncApi2DocumentSchema.test.ts
  packages/rulesets/src/asyncapi/functions/asyncApi2DocumentSchema.ts
  packages/rulesets/src/asyncapi/functions/utils/specs.ts
  packages/rulesets/src/asyncapi/index.ts
  test-harness/scenarios/asyncapi2-streetlights.scenario
  yarn.lock
Owners: @stoplightio/documentation, @stoplightio/oss-spectral, @magicmatatjahu, @smoya, @jonaslagoni

feat(formats): support AsyncAPI 2.6.0 (#2391)
  docs/guides/4-custom-rulesets.md
  packages/formats/src/__tests__/asyncapi.test.ts
  packages/formats/src/asyncapi.ts
  yarn.lock
Owners: @stoplightio/documentation, @stoplightio/oss-spectral

chore(release): 1.5.0 [skip ci]
  packages/formats/CHANGELOG.md
  packages/formats/package.json
Owners: @stoplightio/oss-spectral

Notes added by 'git notes add'
  27/552a7bfb20425e9d5b5813ff0ea58fa5b25fcd
Owners: @stoplightio/oss-spectral

feat(rulesets): support AsyncAPI 2.6.0 (#2391)
  packages/rulesets/package.json
  packages/rulesets/src/asyncapi/functions/__tests__/asyncApi2DocumentSchema.test.ts
  packages/rulesets/src/asyncapi/functions/asyncApi2DocumentSchema.ts
  packages/rulesets/src/asyncapi/functions/utils/specs.ts
  packages/rulesets/src/asyncapi/index.ts
  test-harness/scenarios/asyncapi2-streetlights.scenario
  yarn.lock
Owners: @stoplightio/oss-spectral, @magicmatatjahu, @smoya, @jonaslagoni

chore(release): 1.15.0 [skip ci]
  packages/rulesets/CHANGELOG.md
  packages/rulesets/package.json
Owners: @stoplightio/oss-spectral

Notes added by 'git notes add'
  92/61d66ae12517b04a52f8b1905f517788370b78
Owners: @stoplightio/oss-spectral

chore(repo): allow deps commit scope
  commitlint.config.js
Owners: @stoplightio/oss-spectral

fix(ruleset-bundler): defaults should be last one
  packages/ruleset-bundler/package.json
Owners: @stoplightio/oss-spectral

fix(ruleset-migrator): use module for require.resolve
  packages/ruleset-migrator/src/requireResolve.ts
Owners: @stoplightio/oss-spectral

fix(rulesets): avoid false errors from ajv
  package.json
  packages/functions/src/schema/index.ts
  packages/rulesets/src/oas/functions/__tests__/oasExample.test.ts
  packages/rulesets/src/oas/functions/oasExample.ts
Owners: @stoplightio/oss-spectral

fix(ruleset-migrator): use module for require.resolve (#2405)
  packages/ruleset-migrator/src/requireResolve.ts
Owners: @stoplightio/oss-spectral

chore(release): 1.9.2 [skip ci]
  packages/ruleset-migrator/CHANGELOG.md
  packages/ruleset-migrator/package.json
Owners: @stoplightio/oss-spectral

Notes added by 'git notes add'
  a8/10b21937f8607e3834460bb7bbfb39a39887c2
Owners: @stoplightio/oss-spectral

fix(ruleset-bundler): defaults should be last one (#2403)
  packages/ruleset-bundler/package.json
Owners: @stoplightio/oss-spectral

chore(release): 1.5.1 [skip ci]
  packages/ruleset-bundler/CHANGELOG.md
  packages/ruleset-bundler/package.json
Owners: @stoplightio/oss-spectral

Notes added by 'git notes add'
  50/feb9b1ab524b8cd20dc7e7f0e7ebe4e884f8fa
Owners: @stoplightio/oss-spectral

.github/CODEOWNERS:

* @stoplightio/oss-spectral

README.md @stoplightio/documentation

toc.json @stoplightio/documentation

/docs @stoplightio/documentation

/packages/rulesets/src/asyncapi @magicmatatjahu @smoya @jonaslagoni
