Repository stoplightio/spectral, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stoplightio/oss-spectral, @stoplightio/documentation, @magicmatatjahu, @smoya, @jonaslagoni

.github/CODEOWNERS:

* @stoplightio/oss-spectral

README.md @stoplightio/documentation

/docs @stoplightio/documentation

/packages/rulesets/src/asyncapi @magicmatatjahu @smoya @jonaslagoni

chore(release): 1.13.0 [skip ci]
  packages/rulesets/CHANGELOG.md
  packages/rulesets/package.json
Owners: @stoplightio/oss-spectral

Notes added by 'git notes add'
  92/4172c3b0c3cfbf23f3dfc5c8a690f407420e85
Owners: @stoplightio/oss-spectral

docs(repo): prettier
  docs/guides/4-custom-rulesets.md
Owners: @stoplightio/documentation

docs(repo): fix unpkg example
  docs/guides/4-custom-rulesets.md
Owners: @stoplightio/documentation

docs(repo): update js ruleset with working example (#2294)
  docs/getting-started/3-rulesets.md
  docs/guides/4-custom-rulesets.md
Owners: @stoplightio/documentation

feat(rulesets): validate unresolved AsyncAPI
  docs/reference/asyncapi-rules.md
  packages/rulesets/src/asyncapi/__tests__/asyncapi-schema-unresolved.test.ts
  packages/rulesets/src/asyncapi/__tests__/asyncapi-schema.test.ts
  packages/rulesets/src/asyncapi/functions/asyncApi2DocumentSchema.ts
  packages/rulesets/src/asyncapi/index.ts
Owners: @stoplightio/documentation, @magicmatatjahu, @smoya, @jonaslagoni

feat(rulesets): add uniqueId option to the schema function
  packages/functions/src/optionSchemas.ts
  packages/functions/src/schema/index.ts
  packages/rulesets/src/asyncapi/__tests__/asyncapi-schema.test.ts
  packages/rulesets/src/asyncapi/functions/asyncApi2DocumentSchema.ts
Owners: @stoplightio/oss-spectral, @magicmatatjahu, @smoya, @jonaslagoni

feat(rulesets): update packages/functions/src/optionSchemas.ts
  packages/functions/src/optionSchemas.ts
Owners: @stoplightio/oss-spectral

feat(rulesets): fix typo in comment
  packages/rulesets/src/asyncapi/functions/asyncApi2DocumentSchema.ts
Owners: @magicmatatjahu, @smoya, @jonaslagoni

feat(rulesets): rule to check if messageId is defined
  docs/reference/asyncapi-rules.md
  packages/formats/src/asyncapi.ts
  packages/rulesets/src/asyncapi/__tests__/asyncapi-message-messageId.test.ts
  packages/rulesets/src/asyncapi/__tests__/asyncapi-operation-operationId.test.ts
  packages/rulesets/src/asyncapi/index.ts
Owners: @stoplightio/documentation, @stoplightio/oss-spectral, @magicmatatjahu, @smoya, @jonaslagoni

fix(rulesets): check ids in traits
  packages/formats/src/asyncapi.ts
  packages/rulesets/src/asyncapi/__tests__/asyncapi-message-messageId.test.ts
  packages/rulesets/src/asyncapi/__tests__/asyncapi-operation-operationId.test.ts
  packages/rulesets/src/asyncapi/functions/asyncApi2CheckId.ts
  packages/rulesets/src/asyncapi/functions/utils/__tests__/mergeTraits.test.ts
  packages/rulesets/src/asyncapi/functions/utils/mergeTraits.ts
  packages/rulesets/src/asyncapi/index.ts
Owners: @stoplightio/oss-spectral, @magicmatatjahu, @smoya, @jonaslagoni

feat(rulesets): revert operationId changes
  docs/reference/asyncapi-rules.md
  packages/rulesets/src/asyncapi/__tests__/asyncapi-operation-operationId.test.ts
  packages/rulesets/src/asyncapi/index.ts
Owners: @stoplightio/documentation, @magicmatatjahu, @smoya, @jonaslagoni

chore(deps-dev): update vm2 from 3.9.8 to 3.9.11
  yarn.lock
Owners: @stoplightio/oss-spectral

feat(rulesets): support AsyncAPI 2.5.0
  package.json
  packages/rulesets/src/asyncapi/functions/__tests__/asyncApi2DocumentSchema.test.ts
  packages/rulesets/src/asyncapi/functions/__tests__/asyncApi2PayloadValidation.test.ts
  packages/rulesets/src/asyncapi/functions/asyncApi2DocumentSchema.ts
Owners: @stoplightio/oss-spectral, @magicmatatjahu, @smoya, @jonaslagoni

feat(rulesets): force type
  packages/rulesets/src/asyncapi/functions/asyncApi2DocumentSchema.ts
  packages/rulesets/src/asyncapi/functions/asyncApi2PayloadValidation.ts
Owners: @magicmatatjahu, @smoya, @jonaslagoni

feat(rulesets): add support for 2.5.0 AsyncAPI
  package.json
  packages/formats/src/__tests__/asyncapi.test.ts
  packages/formats/src/asyncapi.ts
  packages/rulesets/package.json
  packages/rulesets/src/asyncapi/__tests__/asyncapi-payload.test.ts
  packages/rulesets/src/asyncapi/__tests__/asyncapi-tags-uniqueness.test.ts
  packages/rulesets/src/asyncapi/functions/asyncApi2DocumentSchema.ts
  packages/rulesets/src/asyncapi/functions/asyncApi2PayloadValidation.ts
  packages/rulesets/src/asyncapi/functions/utils/specs.ts
  packages/rulesets/src/asyncapi/index.ts
  yarn.lock
Owners: @stoplightio/oss-spectral, @magicmatatjahu, @smoya, @jonaslagoni

feat(rulesets): fix conditional value
  packages/rulesets/src/asyncapi/functions/asyncApi2DocumentSchema.ts
  packages/rulesets/src/asyncapi/functions/asyncApi2PayloadValidation.ts
Owners: @magicmatatjahu, @smoya, @jonaslagoni

feat(rulesets): use latest specs of AsyncAPI
  packages/rulesets/package.json
  yarn.lock
Owners: @stoplightio/oss-spectral

feat(rulesets): revert changes in package.json
  package.json
Owners: @stoplightio/oss-spectral

feat(rulesets): add support for 2.5.0 AsyncAPI
  docs/getting-started/3-rulesets.md
Owners: @stoplightio/documentation

feat(rulesets): fix types
  packages/rulesets/src/asyncapi/functions/asyncApi2DocumentSchema.ts
  packages/rulesets/src/asyncapi/functions/asyncApi2PayloadValidation.ts
  packages/rulesets/src/asyncapi/functions/utils/specs.ts
Owners: @magicmatatjahu, @smoya, @jonaslagoni

feat(rulesets): add support for 2.5.0 AsyncAPI
  packages/rulesets/src/asyncapi/index.ts
Owners: @magicmatatjahu, @smoya, @jonaslagoni

feat(rulesets): fix types
  packages/rulesets/src/asyncapi/functions/asyncApi2DocumentSchema.ts
  packages/rulesets/src/asyncapi/functions/asyncApi2PayloadValidation.ts
  packages/rulesets/src/asyncapi/functions/utils/specs.ts
Owners: @magicmatatjahu, @smoya, @jonaslagoni

feat(rulesets): fix script
  package.json
Owners: @stoplightio/oss-spectral

Notes added by 'git notes add'
  18/65722b9d2a59024777145baf23562e752798b8
Owners: @stoplightio/oss-spectral

chore(release): 1.3.0 [skip ci]
  packages/formats/CHANGELOG.md
  packages/formats/package.json
Owners: @stoplightio/oss-spectral

feat(formats): add support for 2.5.0 AsyncAPI (#2292)
  docs/getting-started/3-rulesets.md
  packages/formats/src/__tests__/asyncapi.test.ts
  packages/formats/src/asyncapi.ts
Owners: @stoplightio/documentation, @stoplightio/oss-spectral

chore(release): 1.4.0 [skip ci]
  packages/formats/CHANGELOG.md
  packages/formats/package.json
Owners: @stoplightio/oss-spectral

Notes added by 'git notes add'
  7a/67c817806a03a8035b4cc410a78a9c7e2afef4
Owners: @stoplightio/oss-spectral

feat(rulesets): add support for 2.5.0 AsyncAPI (#2292)
  packages/rulesets/package.json
  packages/rulesets/src/asyncapi/__tests__/asyncapi-payload.test.ts
  packages/rulesets/src/asyncapi/__tests__/asyncapi-tags-uniqueness.test.ts
  packages/rulesets/src/asyncapi/functions/__tests__/asyncApi2DocumentSchema.test.ts
  packages/rulesets/src/asyncapi/functions/__tests__/asyncApi2PayloadValidation.test.ts
  packages/rulesets/src/asyncapi/functions/asyncApi2DocumentSchema.ts
  packages/rulesets/src/asyncapi/functions/asyncApi2PayloadValidation.ts
  packages/rulesets/src/asyncapi/functions/utils/specs.ts
  packages/rulesets/src/asyncapi/index.ts
  yarn.lock
Owners: @stoplightio/oss-spectral, @magicmatatjahu, @smoya, @jonaslagoni

chore(rulesets): include LICENSE
  packages/rulesets/LICENSE
Owners: @stoplightio/oss-spectral

chore(release): 1.14.0 [skip ci]
  packages/rulesets/CHANGELOG.md
  packages/rulesets/package.json
Owners: @stoplightio/oss-spectral

Notes added by 'git notes add'
  2a/6ef60b7b77bbdc53c46ff5fc49fdfef223bc53
Owners: @stoplightio/oss-spectral

chore(repo): upgrade Yarn from 3.1.0 to 3.2.3
  .yarn/releases/yarn-3.1.0.cjs
  .yarn/releases/yarn-3.2.3.cjs
  .yarnrc
  .yarnrc.yml
  package.json
  yarn.lock
Owners: @stoplightio/oss-spectral

fix(core): async functions have undefined paths
  packages/core/src/__tests__/linter.test.ts
  packages/core/src/runner/lintNode.ts
Owners: @stoplightio/oss-spectral

chore(core): drop runner runtime
  packages/core/package.json
  packages/core/src/runner/__tests__/runner.spec.ts
  packages/core/src/runner/index.ts
  packages/core/src/runner/runner.ts
  packages/core/src/runner/runtime.ts
  packages/core/src/spectral.ts
  yarn.lock
Owners: @stoplightio/oss-spectral

chore(core): drop runner runtime (#2302)
  packages/core/package.json
  packages/core/src/runner/__tests__/runner.spec.ts
  packages/core/src/runner/index.ts
  packages/core/src/runner/runner.ts
  packages/core/src/runner/runtime.ts
  packages/core/src/spectral.ts
  yarn.lock
Owners: @stoplightio/oss-spectral

fix(core): async functions have undefined paths (#2304)
  packages/core/src/__tests__/linter.test.ts
  packages/core/src/runner/lintNode.ts
Owners: @stoplightio/oss-spectral

chore(release): 1.14.2 [skip ci]
  packages/core/CHANGELOG.md
  packages/core/package.json
Owners: @stoplightio/oss-spectral

Notes added by 'git notes add'
  8a/a27caf5f070522068753449fe952fffa9c5a5c
Owners: @stoplightio/oss-spectral
