Repository stoplightio/spectral, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stoplightio/oss-spectral, @stoplightio/documentation, @magicmatatjahu, @smoya, @jonaslagoni

.github/CODEOWNERS:

* @stoplightio/oss-spectral

README.md @stoplightio/documentation

toc.json @stoplightio/documentation

/docs @stoplightio/documentation

/packages/rulesets/src/asyncapi @magicmatatjahu @smoya @jonaslagoni

docs(repo): removed inconsistent quotation marks from toc.json
  toc.json
Owners: @stoplightio/documentation

docs(repo): removed inconsistent quotation marks from toc.json (#2409)
  toc.json
Owners: @stoplightio/documentation

feat(core): support x- extensions in the ruleset
  packages/core/src/ruleset/meta/rule.schema.json
  packages/core/src/ruleset/meta/ruleset.schema.json
  packages/core/src/ruleset/validation/__tests__/validation.test.ts
Owners: @stoplightio/oss-spectral

chore(repo): update Yarn and its plugins
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarn/releases/yarn-3.2.3.cjs
  .yarn/releases/yarn-3.5.0.cjs
  .yarnrc
  .yarnrc.yml
  package.json
Owners: @stoplightio/oss-spectral

chore(repo): update Yarn and its plugins
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarn/releases/yarn-3.2.3.cjs
  .yarn/releases/yarn-3.5.0.cjs
  .yarnrc
  .yarnrc.yml
  package.json
  yarn.lock
Owners: @stoplightio/oss-spectral

feat(core): support x- extensions in the ruleset (#2440)
  packages/core/src/ruleset/meta/rule.schema.json
  packages/core/src/ruleset/meta/ruleset.schema.json
  packages/core/src/ruleset/validation/__tests__/validation.test.ts
Owners: @stoplightio/oss-spectral

chore(release): 1.17.0 [skip ci]
  packages/core/CHANGELOG.md
  packages/core/package.json
Owners: @stoplightio/oss-spectral

Notes added by 'git notes add'
  ea/22b555f41f68c87d1e572def85294547148164
Owners: @stoplightio/oss-spectral

chore(functions): add LICENSE
  packages/functions/LICENSE
Owners: @stoplightio/oss-spectral

chore(repo): caching
  .circleci/config.yml
  package.json
  packages/cli/package.json
  packages/cli/tsconfig.build.json
  packages/core/tsconfig.build.json
  packages/formats/tsconfig.build.json
  packages/functions/tsconfig.build.json
  packages/parsers/tsconfig.build.json
  packages/ref-resolver/tsconfig.build.json
  packages/ruleset-bundler/tsconfig.build.json
  packages/ruleset-migrator/tsconfig.build.json
  packages/rulesets/tsconfig.build.json
  packages/runtime/tsconfig.build.json
  yarn.lock
Owners: @stoplightio/oss-spectral

feat(core): add documentUrl to JS api and cli formatters
  packages/cli/src/formatters/__tests__/html.test.ts
  packages/cli/src/formatters/html/html-template-message.html
  packages/cli/src/formatters/html/index.ts
  packages/cli/src/formatters/json.ts
  packages/cli/src/formatters/junit.ts
  packages/cli/src/formatters/pretty.ts
  packages/cli/src/formatters/stylish.ts
  packages/cli/src/formatters/teamcity.ts
  packages/cli/src/formatters/text.ts
  packages/core/src/runner/lintNode.ts
  packages/core/src/types/spectral.ts
  packages/rulesets/src/asyncapi/functions/__tests__/asyncApi2DocumentSchema.test.ts
  packages/rulesets/src/oas/functions/__tests__/oasDocumentSchema.test.ts
  test-harness/scenarios/asyncapi2-streetlights.scenario
  test-harness/scenarios/duplicated-entry-in-enum.oas.scenario
  test-harness/scenarios/examples.oas2.scenario
  test-harness/scenarios/examples.oas3.scenario
  test-harness/scenarios/formats/results-format-html.scenario
  test-harness/scenarios/oas2-valid-media-example.oas2.scenario
  test-harness/scenarios/oas3-schema.scenario
  test-harness/scenarios/oas3.1/webooks.scenario
  test-harness/scenarios/parameter-description-parameters.oas2.scenario
  test-harness/scenarios/parameter-description-parameters.oas3.scenario
  test-harness/scenarios/typed-enum.oas3.scenario
Owners: @stoplightio/oss-spectral, @magicmatatjahu, @smoya, @jonaslagoni

Update README.md
  README.md
Owners: @stoplightio/documentation

docs(repo): add additional style guide examples to readme (#2449)
  README.md
Owners: @stoplightio/documentation

fix(rulesets): avoid false errors from ajv
  package.json
  packages/functions/src/schema/index.ts
  packages/rulesets/src/oas/functions/__tests__/oasExample.test.ts
  packages/rulesets/src/oas/functions/oasExample.ts
Owners: @stoplightio/oss-spectral

docs(repo): fix lint warning in README
  README.md
Owners: @stoplightio/documentation

docs(repo): linting with ssgs
  README.md
  docs/guides/2-cli.md
Owners: @stoplightio/documentation

docs(repo): linting with ssgs (#2450)
  README.md
  docs/guides/2-cli.md
Owners: @stoplightio/documentation

fix(ruleset-migrator): transform functions under overrides
  packages/ruleset-migrator/src/__tests__/__fixtures__/overrides-variant-2/output.cjs
  packages/ruleset-migrator/src/__tests__/__fixtures__/overrides-variant-2/output.mjs
  packages/ruleset-migrator/src/__tests__/__fixtures__/overrides-variant-2/ruleset.yaml
  packages/ruleset-migrator/src/transformers/rules.ts
  test-harness/scenarios/overrides/new-rule-legacy-ruleset.scenario
Owners: @stoplightio/oss-spectral

fix(ruleset-migrator): transform functions under overrides (#2459)
  packages/ruleset-migrator/src/__tests__/__fixtures__/overrides-variant-2/output.cjs
  packages/ruleset-migrator/src/__tests__/__fixtures__/overrides-variant-2/output.mjs
  packages/ruleset-migrator/src/__tests__/__fixtures__/overrides-variant-2/ruleset.yaml
  packages/ruleset-migrator/src/transformers/rules.ts
  test-harness/scenarios/overrides/new-rule-legacy-ruleset.scenario
Owners: @stoplightio/oss-spectral

feat(rulesets): add traits array path to headers rule
  packages/rulesets/src/asyncapi/__tests__/asyncapi-headers-schema-type-object.test.ts
  packages/rulesets/src/asyncapi/index.ts
Owners: @magicmatatjahu, @smoya, @jonaslagoni

fix(ruleset-bundler): defaults should be last one (#2403)
  packages/ruleset-bundler/package.json
Owners: @stoplightio/oss-spectral

fix(ruleset-migrator): use module for require.resolve (#2405)
  packages/ruleset-migrator/src/requireResolve.ts
Owners: @stoplightio/oss-spectral

chore(repo): update Yarn and its plugins
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarn/releases/yarn-3.2.3.cjs
  .yarn/releases/yarn-3.5.0.cjs
  .yarnrc
  .yarnrc.yml
  package.json
  yarn.lock
Owners: @stoplightio/oss-spectral

feat(core): support x- extensions in the ruleset (#2440)
  packages/core/src/ruleset/meta/rule.schema.json
  packages/core/src/ruleset/meta/ruleset.schema.json
  packages/core/src/ruleset/validation/__tests__/validation.test.ts
Owners: @stoplightio/oss-spectral

chore(release): 1.9.2 [skip ci]
  packages/ruleset-migrator/CHANGELOG.md
  packages/ruleset-migrator/package.json
Owners: @stoplightio/oss-spectral

chore(release): 1.5.1 [skip ci]
  packages/ruleset-bundler/CHANGELOG.md
  packages/ruleset-bundler/package.json
Owners: @stoplightio/oss-spectral

docs(repo): removed inconsistent quotation marks from toc.json (#2409)
  toc.json
Owners: @stoplightio/documentation

docs(repo): linting with ssgs (#2450)
  README.md
  docs/guides/2-cli.md
Owners: @stoplightio/documentation

chore(functions): add LICENSE
  packages/functions/LICENSE
Owners: @stoplightio/oss-spectral

fix(ruleset-migrator): transform functions under overrides (#2459)
  packages/ruleset-migrator/src/__tests__/__fixtures__/overrides-variant-2/output.cjs
  packages/ruleset-migrator/src/__tests__/__fixtures__/overrides-variant-2/output.mjs
  packages/ruleset-migrator/src/__tests__/__fixtures__/overrides-variant-2/ruleset.yaml
  packages/ruleset-migrator/src/transformers/rules.ts
  test-harness/scenarios/overrides/new-rule-legacy-ruleset.scenario
Owners: @stoplightio/oss-spectral

docs(repo): add additional style guide examples to readme (#2449)
  README.md
Owners: @stoplightio/documentation

chore(release): 1.17.0 [skip ci]
  packages/core/CHANGELOG.md
  packages/core/package.json
Owners: @stoplightio/oss-spectral

feat(rulesets): add traits array path to headers rule
  packages/rulesets/src/asyncapi/__tests__/asyncapi-headers-schema-type-object.test.ts
  packages/rulesets/src/asyncapi/index.ts
Owners: @magicmatatjahu, @smoya, @jonaslagoni

chore(release): 1.9.3 [skip ci]
  packages/ruleset-migrator/CHANGELOG.md
  packages/ruleset-migrator/package.json
Owners: @stoplightio/oss-spectral

Notes added by 'git notes add'
  14/1b033a7aceb653ff91bd7ac7fb168f733ebf59
Owners: @stoplightio/oss-spectral

chore(rulesets): use traverse
  packages/rulesets/src/oas/functions/oasExample.ts
Owners: @stoplightio/oss-spectral

fix(rulesets): avoid false errors from ajv (#2408)
  package.json
  packages/rulesets/src/oas/functions/__tests__/oasExample.test.ts
  packages/rulesets/src/oas/functions/oasExample.ts
Owners: @stoplightio/oss-spectral

chore(functions): extra comment on schema fn missing ref error logic (#2408)
  packages/functions/src/schema/index.ts
Owners: @stoplightio/oss-spectral
