Repository stoplightio/spectral, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stoplightio/oss-spectral, @stoplightio/documentation, @magicmatatjahu, @smoya, @jonaslagoni

test(ruleset-migrator): use vol
  packages/ruleset-migrator/src/__tests__/ruleset.test.ts
Owners: @stoplightio/oss-spectral

fix(ruleset-migrator): http/https uris not followed correctly (#2247)
  packages/ruleset-migrator/src/__tests__/ruleset.test.ts
  packages/ruleset-migrator/src/tree/index.ts
Owners: @stoplightio/oss-spectral

chore(release): 1.7.4 [skip ci]
  packages/ruleset-migrator/CHANGELOG.md
  packages/ruleset-migrator/package.json
Owners: @stoplightio/oss-spectral

Notes added by 'git notes add'
  e0/6fd4239d8db05a5ec7f91518bcaeef51f051e9
Owners: @stoplightio/oss-spectral

fix(core): reverted to nimma 0.2.2
  .circleci/config.yml
  karma.conf.ts
  packages/core/package.json
  packages/core/src/runner/runner.ts
  yarn.lock
Owners: @stoplightio/oss-spectral

docs(core): added comment
  packages/core/src/runner/runner.ts
Owners: @stoplightio/oss-spectral

chore(repo): yarn dedupe
  yarn.lock
Owners: @stoplightio/oss-spectral

chore(core): include LICENSE
  packages/core/LICENSE
Owners: @stoplightio/oss-spectral

perf(core): bump jsonpath-plus to 7.1.0 (#2259)
  packages/core/package.json
  yarn.lock
Owners: @stoplightio/oss-spectral

chore(release): 1.14.1 [skip ci]
  packages/core/CHANGELOG.md
  packages/core/package.json
Owners: @stoplightio/oss-spectral

Notes added by 'git notes add'
  ff/b881dff4efa5ad9fb8ebd80b15db7ed4ce4bdb
Owners: @stoplightio/oss-spectral

docs(repo): grammarly pass for workflow and cli guides
  docs/guides/1-workflows.md
  docs/guides/2-cli.md
Owners: @stoplightio/documentation

docs(repo): grammarly pass for custom rulesets
  docs/guides/4-custom-rulesets.md
Owners: @stoplightio/documentation

docs(repo): grammarly pass for custom functions
  docs/guides/5-custom-functions.md
Owners: @stoplightio/documentation

docs(repo): grammarly pass for 7 and 8 guides
  docs/guides/7-sharing-rulesets.md
  docs/guides/8-continuous-integration.md
Owners: @stoplightio/documentation

docs(repo): grammarly pass for migration guides
  docs/migration-guides/5.0.md
  docs/migration-guides/6.0.md
Owners: @stoplightio/documentation

docs(repo): grammarly pass for asyncapi-rules
  docs/reference/asyncapi-rules.md
Owners: @stoplightio/documentation

docs(repo): grammarly pass for functions
  docs/reference/functions.md
Owners: @stoplightio/documentation

docs(repo): grammarly pass for openapi-rules
  docs/reference/openapi-rules.md
Owners: @stoplightio/documentation

fix(core): support utf8 surrogates
  packages/core/package.json
  packages/core/src/__tests__/linter.test.ts
  packages/core/src/runner/runner.ts
  packages/core/src/runner/utils/__tests__/__fixtures__/duplicate-validation-results.json
  packages/core/src/runner/utils/__tests__/__fixtures__/non-duplicate-validation-results.json
  packages/core/src/runner/utils/__tests__/__fixtures__/random-results.ts
  packages/core/src/runner/utils/__tests__/results.test.ts
  packages/core/src/runner/utils/results.ts
  packages/core/src/spectral.ts
  packages/core/src/utils/__tests__/prepareResults.test.ts
  packages/core/src/utils/__tests__/sortResults.test.ts
  packages/core/src/utils/index.ts
  packages/core/src/utils/prepareResults.ts
  yarn.lock
Owners: @stoplightio/oss-spectral

chore(core): no lodash memoize
  packages/core/src/spectral.ts
Owners: @stoplightio/oss-spectral

chore(ruleset-bundler): include LICENSE
  packages/ruleset-bundler/LICENSE
Owners: @stoplightio/oss-spectral

fix(ruleset-bundler): address Rollup.js warning
  packages/ruleset-bundler/package.json
  packages/ruleset-bundler/src/plugins/url.ts
  yarn.lock
Owners: @stoplightio/oss-spectral

chore(release): 1.3.2 [skip ci]
  packages/ruleset-bundler/CHANGELOG.md
  packages/ruleset-bundler/package.json
Owners: @stoplightio/oss-spectral

Notes added by 'git notes add'
  9a/8436af447f0e8749e66f0ec813674dd47abde9
Owners: @stoplightio/oss-spectral

docs(repo): fixes based on Pam feedback
  docs/getting-started/2-installation.md
  docs/guides/1-workflows.md
  docs/guides/4-custom-rulesets.md
  docs/guides/5-custom-functions.md
  docs/reference/openapi-rules.md
Owners: @stoplightio/documentation

docs(repo): grammar review (#2256)
  docs/getting-started/1-concepts.md
  docs/getting-started/2-installation.md
  docs/getting-started/3-rulesets.md
  docs/getting-started/4-openapi.md
  docs/getting-started/5-asyncapi.md
  docs/guides/1-workflows.md
  docs/guides/2-cli.md
  docs/guides/4-custom-rulesets.md
  docs/guides/5-custom-functions.md
  docs/guides/7-sharing-rulesets.md
  docs/guides/8-continuous-integration.md
  docs/migration-guides/5.0.md
  docs/migration-guides/6.0.md
  docs/reference/asyncapi-rules.md
  docs/reference/functions.md
  docs/reference/openapi-rules.md
Owners: @stoplightio/documentation

fix(ruleset-bundler): virtualFs plugin not recognizing files
  karma.conf.ts
  packages/ruleset-bundler/src/plugins/virtualFs.ts
Owners: @stoplightio/oss-spectral

docs(repo): add instruction on naming custom functions
  docs/guides/5-custom-functions.md
Owners: @stoplightio/documentation

docs(repo): prettier
  docs/guides/5-custom-functions.md
Owners: @stoplightio/documentation

docs(repo): apply P0lip feedback
  docs/guides/5-custom-functions.md
Owners: @stoplightio/documentation

docs(repo): prettier
  docs/guides/5-custom-functions.md
Owners: @stoplightio/documentation

docs(repo): add instruction on naming custom functions (#2285)
  docs/guides/5-custom-functions.md
Owners: @stoplightio/documentation

Update README.md
  README.md
Owners: @stoplightio/documentation

feat(rulesets): add rule to check if the AsyncAPI document is using the latest version
  docs/reference/asyncapi-rules.md
  packages/rulesets/src/asyncapi/__tests__/asyncapi-latest-version.test.ts
  packages/rulesets/src/asyncapi/functions/asyncApi2DocumentSchema.ts
  packages/rulesets/src/asyncapi/index.ts
  test-harness/scenarios/asyncapi2-streetlights.scenario
Owners: @stoplightio/documentation, @magicmatatjahu, @smoya, @jonaslagoni, @stoplightio/oss-spectral

feat(rulesets): add rule to check if the AsyncAPI document is using the latest version (#2282)
  docs/reference/asyncapi-rules.md
  packages/rulesets/src/asyncapi/__tests__/asyncapi-latest-version.test.ts
  packages/rulesets/src/asyncapi/functions/asyncApi2DocumentSchema.ts
  packages/rulesets/src/asyncapi/index.ts
  test-harness/scenarios/asyncapi2-streetlights.scenario
Owners: @stoplightio/documentation, @magicmatatjahu, @smoya, @jonaslagoni, @stoplightio/oss-spectral

docs(repo): small edits, add mention of js ruleset to rulesets page
  docs/getting-started/3-rulesets.md
  docs/guides/4-custom-rulesets.md
Owners: @stoplightio/documentation

docs(repo): add another mention of js ruleset format
  docs/getting-started/3-rulesets.md
Owners: @stoplightio/documentation

docs(repo): update js ruleset section with working example by Phil
  docs/guides/4-custom-rulesets.md
Owners: @stoplightio/documentation

docs(repo): move js ruleset section to bottom of the page
  docs/guides/4-custom-rulesets.md
Owners: @stoplightio/documentation

.github/CODEOWNERS:

* @stoplightio/oss-spectral

README.md @stoplightio/documentation

/docs @stoplightio/documentation

/packages/rulesets/src/asyncapi @magicmatatjahu @smoya @jonaslagoni
