Repository stoplightio/spectral, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stoplightio/oss-spectral, @stoplightio/documentation, @magicmatatjahu, @smoya, @jonaslagoni

.github/CODEOWNERS:

* @stoplightio/oss-spectral

README.md @stoplightio/documentation

/docs @stoplightio/documentation

/packages/rulesets/src/asyncapi @magicmatatjahu @smoya @jonaslagoni

docs(repo): update docs/reference/asyncapi-rules.md
  docs/reference/asyncapi-rules.md
Owners: @stoplightio/documentation

feat(rulesets): check uniqueness of AsyncAPI messages (#2224)
  docs/reference/asyncapi-rules.md
  packages/rulesets/src/asyncapi/__tests__/asyncapi-message-messageId-uniqueness.test.ts
  packages/rulesets/src/asyncapi/__tests__/asyncapi-operation-operationId-uniqueness.test.ts
  packages/rulesets/src/asyncapi/functions/asyncApi2MessageIdUniqueness.ts
  packages/rulesets/src/asyncapi/functions/asyncApi2OperationIdUniqueness.ts
  packages/rulesets/src/asyncapi/functions/utils/getAllMessages.ts
  packages/rulesets/src/asyncapi/functions/utils/getAllOperations.ts
  packages/rulesets/src/asyncapi/index.ts
Owners: @stoplightio/documentation, @magicmatatjahu, @smoya, @jonaslagoni

chore(release): 1.12.0 [skip ci]
  packages/rulesets/CHANGELOG.md
  packages/rulesets/package.json
Owners: @stoplightio/oss-spectral

Notes added by 'git notes add'
  e1/3c6258d94cc853fd761c020f54f9bafd864566
Owners: @stoplightio/oss-spectral

Added line break
  packages/cli/src/commands/lint.ts
Owners: @stoplightio/oss-spectral

revert(rulesets): toThrowError
  packages/core/src/ruleset/__tests__/ruleset.test.ts
Owners: @stoplightio/oss-spectral

feat(core): improve alias validation (#2164)
  docs/guides/4-custom-rulesets.md
  docs/reference/error-handling.md
  packages/core/src/ruleset/__tests__/__fixtures__/overrides/aliases/scope.ts
  packages/core/src/ruleset/__tests__/ruleset.test.ts
  packages/core/src/ruleset/alias.ts
  packages/core/src/ruleset/meta/rule.schema.json
  packages/core/src/ruleset/meta/shared.json
  packages/core/src/ruleset/rule.ts
  packages/core/src/ruleset/utils/guards.ts
  packages/core/src/ruleset/validation/__tests__/validation.test.ts
  packages/core/src/ruleset/validation/ajv.ts
  packages/core/src/ruleset/validation/errors.ts
  packages/core/src/ruleset/validation/validators/alias.ts
  packages/core/src/ruleset/validation/validators/common/error.ts
  packages/core/src/ruleset/validation/validators/function.ts
Owners: @stoplightio/documentation, @stoplightio/oss-spectral

test(cli): improve alias validation (#2164)
  packages/cli/src/services/__tests__/linter.test.ts
Owners: @stoplightio/oss-spectral

fix(cli): missing line break (#2251)
  packages/cli/src/commands/lint.ts
Owners: @stoplightio/oss-spectral

chore(release): 6.5.1 [skip ci]
  packages/cli/CHANGELOG.md
  packages/cli/package.json
Owners: @stoplightio/oss-spectral

Notes added by 'git notes add'
  3f/6f0842178d8136d50bebbe537bfbf08664794f
Owners: @stoplightio/oss-spectral

chore(release): 1.14.0 [skip ci]
  packages/core/CHANGELOG.md
  packages/core/package.json
Owners: @stoplightio/oss-spectral

Notes added by 'git notes add'
  5c/4bb2714ac0a0cd35a0644508329c454734b5e2
Owners: @stoplightio/oss-spectral

docs(repo): update badges
  README.md
Owners: @stoplightio/documentation

docs(repo): replace NPM with npm
  docs/getting-started/1-concepts.md
  docs/getting-started/2-installation.md
  docs/getting-started/3-rulesets.md
  docs/guides/7-sharing-rulesets.md
  docs/guides/8-continuous-integration.md
Owners: @stoplightio/documentation

docs(repo): replace NodeJS with Node.js
  docs/guides/1-workflows.md
Owners: @stoplightio/documentation

docs(repo): grammarly pass for getting-started
  docs/getting-started/2-installation.md
  docs/getting-started/3-rulesets.md
  docs/getting-started/4-openapi.md
  docs/getting-started/5-asyncapi.md
Owners: @stoplightio/documentation

chore(deps-dev): bump Karma and related packages
  __karma__/jest.ts
  karma.conf.ts
  package.json
  packages/ruleset-migrator/scripts/generate-test-fixtures.ts
  packages/ruleset-migrator/src/__tests__/ruleset.test.ts
  yarn.lock
Owners: @stoplightio/oss-spectral

chore(deps-dev): bump semantic-release from ^18.0.1 to ^19.0.5
  package.json
  yarn.lock
Owners: @stoplightio/oss-spectral

docs(repo): grammarly review for workflows guide
  docs/guides/1-workflows.md
Owners: @stoplightio/documentation

feat(jsonpath-plus, nimma): bump from jsonpath-plus 6.0.1 to 7.1.0 and nimma from 0.2.2 to 0.3.1
  packages/core/package.json
  yarn.lock
Owners: @stoplightio/oss-spectral

fix(core): updated karma configuration
  karma.conf.ts
  packages/core/src/runner/runner.ts
Owners: @stoplightio/oss-spectral

fix(core): updated karma configuration
  karma.conf.ts
  packages/core/src/runner/runner.ts
Owners: @stoplightio/oss-spectral

chore(deps-dev): bump Karma and related packages
  __karma__/jest.ts
  karma.conf.ts
  package.json
  packages/ruleset-migrator/scripts/generate-test-fixtures.ts
  packages/ruleset-migrator/src/__tests__/ruleset.test.ts
  yarn.lock
Owners: @stoplightio/oss-spectral

chore(deps-dev): bump semantic-release from ^18.0.1 to ^19.0.5
  package.json
  yarn.lock
Owners: @stoplightio/oss-spectral

Update for the documentation URL example
  docs/guides/4-custom-rulesets.md
Owners: @stoplightio/documentation

perf(core): bump versions
  .circleci/config.yml
  karma.conf.ts
  packages/core/package.json
  packages/core/src/runner/runner.ts
  yarn.lock
Owners: @stoplightio/oss-spectral

ci(repo): updated to next-gen circleci images
  .circleci/config.yml
Owners: @stoplightio/oss-spectral

fix(repo): removed node 18 test
  .circleci/config.yml
Owners: @stoplightio/oss-spectral

feat(rulesets): use aliases in ruleset
  packages/rulesets/src/oas/__tests__/oas2-parameter-description.test.ts
  packages/rulesets/src/oas/functions/oasExample.ts
  packages/rulesets/src/oas/index.ts
Owners: @stoplightio/oss-spectral

feat(core): custom shorthands
  packages/core/src/ruleset/mergers/rulesets.ts
  packages/core/src/ruleset/meta/ruleset.schema.json
  packages/core/src/ruleset/ruleset.ts
  packages/core/src/ruleset/types.ts
  packages/core/src/runner/runner.ts
  packages/rulesets/src/__tests__/__helpers__/tester.ts
  packages/rulesets/src/oas/__tests__/oas3-valid-schema-example.test.ts
  packages/rulesets/src/oas/functions/oasSchema.ts
  packages/rulesets/src/oas/index.ts
Owners: @stoplightio/oss-spectral

feat(ruleset-migrator): drop validation
  package.json
  packages/ruleset-migrator/package.json
  packages/ruleset-migrator/scripts/compile-schemas.ts
  packages/ruleset-migrator/src/__tests__/__fixtures__/functions-variant-7/output.cjs
  packages/ruleset-migrator/src/__tests__/__fixtures__/functions-variant-7/output.mjs
  packages/ruleset-migrator/src/__tests__/ruleset.jest.test.ts
  packages/ruleset-migrator/src/__tests__/ruleset.test.ts
  packages/ruleset-migrator/src/index.ts
  packages/ruleset-migrator/src/transformers/except.ts
  packages/ruleset-migrator/src/transformers/extends.ts
  packages/ruleset-migrator/src/transformers/formats.ts
  packages/ruleset-migrator/src/transformers/functions.ts
  packages/ruleset-migrator/src/transformers/rules.ts
  packages/ruleset-migrator/src/tree/index.ts
  packages/ruleset-migrator/src/types.ts
  packages/ruleset-migrator/src/utils/ast.ts
  packages/ruleset-migrator/src/utils/guards.ts
  packages/ruleset-migrator/src/validation/index.ts
  packages/ruleset-migrator/src/validation/schema.ts
  packages/ruleset-migrator/src/validation/types.ts
  yarn.lock
Owners: @stoplightio/oss-spectral

feat(ruleset-migrator): static modules
  packages/ruleset-migrator/src/index.ts
  packages/ruleset-migrator/src/transformers/extends.ts
  packages/ruleset-migrator/src/transformers/formats.ts
  packages/ruleset-migrator/src/transformers/functions.ts
  packages/ruleset-migrator/src/transformers/rules.ts
  packages/ruleset-migrator/src/tree/index.ts
  packages/ruleset-migrator/src/tree/modules.ts
  packages/ruleset-migrator/src/types.ts
Owners: @stoplightio/oss-spectral

feat(ruleset-migrator): do not migrate rules
  packages/ruleset-migrator/package.json
  packages/ruleset-migrator/src/__tests__/__fixtures__/rules-variant-2/output.cjs
  packages/ruleset-migrator/src/__tests__/__fixtures__/rules-variant-2/output.mjs
  packages/ruleset-migrator/src/__tests__/__fixtures__/rules-variant-2/ruleset.yaml
  packages/ruleset-migrator/src/__tests__/__fixtures__/rules-variant-3/output.cjs
  packages/ruleset-migrator/src/__tests__/__fixtures__/rules-variant-3/output.mjs
  packages/ruleset-migrator/src/__tests__/__fixtures__/rules-variant-3/ruleset.yaml
  packages/ruleset-migrator/src/__tests__/__fixtures__/rules-variant-5/output.cjs
  packages/ruleset-migrator/src/__tests__/__fixtures__/rules-variant-5/output.mjs
  packages/ruleset-migrator/src/__tests__/__fixtures__/rules-variant-5/ruleset.yaml
  packages/ruleset-migrator/src/transformers/rules.ts
  yarn.lock
Owners: @stoplightio/oss-spectral

chore(ruleset-migrator): eslint
  packages/ruleset-migrator/src/__tests__/ruleset.test.ts
  packages/ruleset-migrator/src/index.ts
  packages/ruleset-migrator/src/transformers/extends.ts
Owners: @stoplightio/oss-spectral

feat(ruleset-migrator): use @stoplight/spectral-parsers
  packages/ruleset-migrator/package.json
  packages/ruleset-migrator/src/index.ts
  yarn.lock
Owners: @stoplightio/oss-spectral

docs(repo): update for the documentation URL example (#2258)
  docs/guides/4-custom-rulesets.md
Owners: @stoplightio/documentation

chore(parsers): include LICENSE
  packages/parsers/LICENSE
  packages/parsers/package.json
Owners: @stoplightio/oss-spectral

chore(ruleset-migrator): include LICENSE
  packages/ruleset-migrator/LICENSE
Owners: @stoplightio/oss-spectral

chore(ruleset-migrator): update deps
  packages/ruleset-migrator/package.json
  yarn.lock
Owners: @stoplightio/oss-spectral
