Repository stoplightio/spectral, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stoplightio/oss-spectral, @stoplightio/documentation, @magicmatatjahu, @smoya, @jonaslagoni

.github/CODEOWNERS:

* @stoplightio/oss-spectral

README.md @stoplightio/documentation

/docs @stoplightio/documentation

/packages/rulesets/src/asyncapi @magicmatatjahu @smoya @jonaslagoni

chore(ref-resolver): include LICENSE
  packages/ref-resolver/LICENSE
Owners: @stoplightio/oss-spectral

docs(ref-resolver): add README.md
  packages/ref-resolver/README.md
Owners: @stoplightio/documentation

fix(ref-resolver): update @stoplight/json-ref-resolver from 3.1.3 to ~3.1.4
  packages/ref-resolver/package.json
  yarn.lock
Owners: @stoplightio/oss-spectral

chore(release): 1.0.2 [skip ci]
  packages/ref-resolver/CHANGELOG.md
  packages/ref-resolver/package.json
Owners: @stoplightio/oss-spectral

Notes added by 'git notes add'
  ba/90a2097fdc5c126031fc951225f8599cb1006d
Owners: @stoplightio/oss-spectral

fix(rulesets): handle empty payload and headers in AsyncAPI message's examples validation
  packages/rulesets/src/asyncapi/__tests__/asyncapi-message-examples.test.ts
  packages/rulesets/src/asyncapi/functions/asyncApi2MessageExamplesValidation.ts
  packages/rulesets/src/asyncapi/functions/utils/__tests__/mergeTraits.test.ts
  packages/rulesets/src/asyncapi/functions/utils/mergeTraits.ts
Owners: @magicmatatjahu, @smoya, @jonaslagoni

fix(rulesets): handle latest version of AsyncAPI
  packages/rulesets/src/asyncapi/__tests__/asyncapi-latest-version.test.ts
  packages/rulesets/src/asyncapi/functions/asyncApi2DocumentSchema.ts
  packages/rulesets/src/asyncapi/functions/asyncApi2MessageExamplesValidation.ts
  packages/rulesets/src/asyncapi/functions/utils/mergeTraits.ts
  packages/rulesets/src/asyncapi/functions/utils/specs.ts
  packages/rulesets/src/asyncapi/index.ts
  test-harness/scenarios/asyncapi2-streetlights.scenario
Owners: @magicmatatjahu, @smoya, @jonaslagoni, @stoplightio/oss-spectral

fix(rulesets): handle empty payload and headers in AsyncAPI message's examples validation (#2284)
  packages/rulesets/src/asyncapi/__tests__/asyncapi-latest-version.test.ts
  packages/rulesets/src/asyncapi/__tests__/asyncapi-message-examples.test.ts
  packages/rulesets/src/asyncapi/functions/asyncApi2DocumentSchema.ts
  packages/rulesets/src/asyncapi/functions/asyncApi2MessageExamplesValidation.ts
  packages/rulesets/src/asyncapi/functions/utils/__tests__/mergeTraits.test.ts
  packages/rulesets/src/asyncapi/functions/utils/mergeTraits.ts
  packages/rulesets/src/asyncapi/functions/utils/specs.ts
  packages/rulesets/src/asyncapi/index.ts
  test-harness/scenarios/asyncapi2-streetlights.scenario
Owners: @magicmatatjahu, @smoya, @jonaslagoni, @stoplightio/oss-spectral

chore(cli): bump @stoplight/spectral-ref-resolver from 1.0.1 to 1.0.2
  packages/cli/package.json
  yarn.lock
Owners: @stoplightio/oss-spectral

chore(release): 1.14.1 [skip ci]
  packages/rulesets/CHANGELOG.md
  packages/rulesets/package.json
Owners: @stoplightio/oss-spectral

Notes added by 'git notes add'
  e9/b970838cbab5734235a0225ae057a886925309
Owners: @stoplightio/oss-spectral

refactor(rulesets): remove unused rules style param
  docs/migration-guides/6.0.md
  docs/reference/functions.md
  packages/cli/src/services/__tests__/__fixtures__/ruleset-extends-invalid.js
  packages/cli/src/services/__tests__/__fixtures__/ruleset-extends-valid.js
  packages/cli/src/services/__tests__/__fixtures__/ruleset-invalid.js
  packages/cli/src/services/__tests__/__fixtures__/ruleset-valid.js
  packages/cli/src/services/__tests__/__fixtures__/ruleset.json
  packages/core/src/__tests__/__fixtures__/rulesets/recommended.json
  packages/core/src/ruleset/meta/rule.schema.json
  packages/core/src/ruleset/types.ts
  packages/core/src/ruleset/validation/__tests__/__fixtures__/invalid-ruleset.ts
  packages/core/src/ruleset/validation/__tests__/validation.test.ts
  packages/rulesets/src/asyncapi/index.ts
  packages/rulesets/src/oas/index.ts
Owners: @stoplightio/documentation, @stoplightio/oss-spectral, @magicmatatjahu, @smoya, @jonaslagoni

test(rulesets): fix fail test
  packages/cli/src/services/__tests__/linter.test.ts
Owners: @stoplightio/oss-spectral

test(rulesets): fix fail test type
  packages/cli/src/services/__tests__/linter.test.ts
Owners: @stoplightio/oss-spectral

revert(core): a breaking change
  packages/cli/src/services/__tests__/__fixtures__/ruleset-invalid.js
  packages/cli/src/services/__tests__/linter.test.ts
  packages/core/src/ruleset/meta/rule.schema.json
  packages/core/src/ruleset/types.ts
  packages/core/src/ruleset/validation/__tests__/__fixtures__/invalid-ruleset.ts
  packages/core/src/ruleset/validation/__tests__/validation.test.ts
Owners: @stoplightio/oss-spectral

refactor(rulesets): remove unused rules style param (#2306)
  docs/migration-guides/6.0.md
  docs/reference/functions.md
  packages/cli/src/services/__tests__/__fixtures__/ruleset-extends-invalid.js
  packages/cli/src/services/__tests__/__fixtures__/ruleset-extends-valid.js
  packages/cli/src/services/__tests__/__fixtures__/ruleset-valid.js
  packages/cli/src/services/__tests__/__fixtures__/ruleset.json
  packages/core/src/__tests__/__fixtures__/rulesets/recommended.json
  packages/rulesets/src/asyncapi/index.ts
  packages/rulesets/src/oas/index.ts
Owners: @stoplightio/documentation, @stoplightio/oss-spectral, @magicmatatjahu, @smoya, @jonaslagoni

feat(ruleset-migrator): relax validation
  packages/ruleset-migrator/src/__tests__/ruleset.test.ts
  packages/ruleset-migrator/src/transformers/formats.ts
  packages/ruleset-migrator/src/validation/schema.ts
  packages/ruleset-migrator/src/validation/types.ts
Owners: @stoplightio/oss-spectral

chore(core): tweak StringifiedRuleset and StringifiedRule
  packages/core/src/ruleset/rule.ts
  packages/core/src/ruleset/ruleset.ts
  packages/core/src/ruleset/types.ts
Owners: @stoplightio/oss-spectral

feat(ruleset-migrator): relax validation (#2307)
  packages/ruleset-migrator/src/__tests__/ruleset.test.ts
  packages/ruleset-migrator/src/transformers/formats.ts
  packages/ruleset-migrator/src/validation/schema.ts
  packages/ruleset-migrator/src/validation/types.ts
Owners: @stoplightio/oss-spectral

chore(core): tweak StringifiedRuleset and StringifiedRule (#2309)
  packages/core/src/ruleset/rule.ts
  packages/core/src/ruleset/ruleset.ts
  packages/core/src/ruleset/types.ts
Owners: @stoplightio/oss-spectral

feat(core): include error codes in RulesetValidationError
  packages/core/src/ruleset/__tests__/ruleset.test.ts
  packages/core/src/ruleset/alias.ts
  packages/core/src/ruleset/function.ts
  packages/core/src/ruleset/meta/ruleset.schema.json
  packages/core/src/ruleset/validation/__tests__/validation.test.ts
  packages/core/src/ruleset/validation/assertions.ts
  packages/core/src/ruleset/validation/errors.ts
  packages/core/src/ruleset/validation/index.ts
  packages/core/src/ruleset/validation/validators/alias.ts
  packages/core/src/ruleset/validation/validators/common/error.ts
  packages/core/src/ruleset/validation/validators/function.ts
Owners: @stoplightio/oss-spectral

test(cli): include error codes
  packages/cli/src/services/__tests__/linter.test.ts
Owners: @stoplightio/oss-spectral

test(functions): include error codes
  packages/functions/src/__tests__/alphabetical.test.ts
  packages/functions/src/__tests__/casing.test.ts
  packages/functions/src/__tests__/defined.test.ts
  packages/functions/src/__tests__/enumeration.test.ts
  packages/functions/src/__tests__/falsy.test.ts
  packages/functions/src/__tests__/length.test.ts
  packages/functions/src/__tests__/pattern.test.ts
  packages/functions/src/__tests__/schema.test.ts
  packages/functions/src/__tests__/truthy.test.ts
  packages/functions/src/__tests__/unreferencedReusableObject.test.ts
  packages/functions/src/__tests__/xor.test.ts
Owners: @stoplightio/oss-spectral

test(cli): include error codes
  packages/cli/src/services/__tests__/linter.test.ts
Owners: @stoplightio/oss-spectral

test(functions): include error codes
  packages/functions/src/__tests__/alphabetical.test.ts
  packages/functions/src/__tests__/casing.test.ts
  packages/functions/src/__tests__/defined.test.ts
  packages/functions/src/__tests__/enumeration.test.ts
  packages/functions/src/__tests__/falsy.test.ts
  packages/functions/src/__tests__/length.test.ts
  packages/functions/src/__tests__/pattern.test.ts
  packages/functions/src/__tests__/schema.test.ts
  packages/functions/src/__tests__/truthy.test.ts
  packages/functions/src/__tests__/unreferencedReusableObject.test.ts
  packages/functions/src/__tests__/xor.test.ts
Owners: @stoplightio/oss-spectral

feat(core): include error codes in RulesetValidationError
  packages/core/src/ruleset/__tests__/ruleset.test.ts
  packages/core/src/ruleset/alias.ts
  packages/core/src/ruleset/function.ts
  packages/core/src/ruleset/meta/ruleset.schema.json
  packages/core/src/ruleset/validation/__tests__/validation.test.ts
  packages/core/src/ruleset/validation/assertions.ts
  packages/core/src/ruleset/validation/errors.ts
  packages/core/src/ruleset/validation/index.ts
  packages/core/src/ruleset/validation/validators/alias.ts
  packages/core/src/ruleset/validation/validators/common/error.ts
  packages/core/src/ruleset/validation/validators/function.ts
Owners: @stoplightio/oss-spectral

chore(release): 1.15.0 [skip ci]
  packages/core/CHANGELOG.md
  packages/core/package.json
Owners: @stoplightio/oss-spectral

Notes added by 'git notes add'
  54/ead79f9f871e445804da3cae01efd18903821e
Owners: @stoplightio/oss-spectral

chore(ruleset-migrator): use * for Spectral devDeps
  packages/ruleset-migrator/package.json
  yarn.lock
Owners: @stoplightio/oss-spectral

chore(release): 1.8.0 [skip ci]
  packages/ruleset-migrator/CHANGELOG.md
  packages/ruleset-migrator/package.json
Owners: @stoplightio/oss-spectral

Notes added by 'git notes add'
  92/1eb57fbe2ff8d513ad01964a3ca897e5d2cfb5
Owners: @stoplightio/oss-spectral

docs(repo): update intro to rulesets
  docs/getting-started/3-rulesets.md
Owners: @stoplightio/documentation

docs(repo): expand on ruleset introduction
  docs/getting-started/3-rulesets.md
Owners: @stoplightio/documentation

docs(repo): small update to intro
  docs/getting-started/3-rulesets.md
Owners: @stoplightio/documentation

docs(repo): add section for ruleset properties
  docs/getting-started/3-rulesets.md
Owners: @stoplightio/documentation

docs(repo): remove JSONPath Plus section
  docs/getting-started/3-rulesets.md
Owners: @stoplightio/documentation

docs(repo): add create a ruleset section to rulesets
  docs/getting-started/3-rulesets.md
Owners: @stoplightio/documentation

docs(repo): remove core/custom functions section
  docs/guides/4-custom-rulesets.md
Owners: @stoplightio/documentation

docs(repo): split up custom rulesets page
  docs/guides/4-custom-rulesets.md
  docs/guides/4a-extends.md
  docs/guides/4b-recommended.md
  docs/guides/4c-aliases.md
  docs/guides/4d-overrides.md
  docs/guides/4e-js-rulesets.md
  toc.json
Owners: @stoplightio/documentation, @stoplightio/oss-spectral

docs(repo): move formats to custom rulesets
  docs/getting-started/3-rulesets.md
  docs/guides/4-custom-rulesets.md
Owners: @stoplightio/documentation
