Repository stoplightio/spectral, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stoplightio/oss-spectral, @stoplightio/documentation, @magicmatatjahu, @smoya, @jonaslagoni

docs(repo): move ruleset properties to custom rulesets
  docs/getting-started/3-rulesets.md
  docs/guides/4-custom-rulesets.md
Owners: @stoplightio/documentation

docs(repo): move extending rulesets section
  docs/getting-started/3-rulesets.md
  docs/guides/4a-extends.md
Owners: @stoplightio/documentation

docs(repo): move core rulesets section
  docs/getting-started/3-rulesets.md
  docs/guides/4-custom-rulesets.md
Owners: @stoplightio/documentation

docs(repo): small updates to custom rulesets overview
  docs/guides/4-custom-rulesets.md
Owners: @stoplightio/documentation

docs(repo): update resolved rule example
  docs/guides/4-custom-rulesets.md
Owners: @stoplightio/documentation

docs(repo): add lint instruction to rulesets
  docs/getting-started/3-rulesets.md
Owners: @stoplightio/documentation

docs(repo): add link to other rulesets
  docs/getting-started/3-rulesets.md
Owners: @stoplightio/documentation

docs(repo): reorganize custom rulesets, update intro
  docs/guides/4-custom-rulesets.md
Owners: @stoplightio/documentation

docs(repo): small clarification for formats
  docs/guides/4-custom-rulesets.md
Owners: @stoplightio/documentation

docs(repo): remove link
  docs/guides/4-custom-rulesets.md
Owners: @stoplightio/documentation

docs(repo): remove unnecessary words
  docs/getting-started/3-rulesets.md
Owners: @stoplightio/documentation

docs(repo): fix broken link
  docs/getting-started/3-rulesets.md
Owners: @stoplightio/documentation

docs(repo): remove core rulesets section
  docs/guides/4-custom-rulesets.md
Owners: @stoplightio/documentation

docs(repo): update rules section
  docs/guides/4-custom-rulesets.md
Owners: @stoplightio/documentation

docs(repo): delete rules header and move content
  docs/guides/4-custom-rulesets.md
Owners: @stoplightio/documentation

docs(repo): add properties to ruleset and rules list
  docs/guides/4-custom-rulesets.md
Owners: @stoplightio/documentation

docs(repo): change Rulesets title to Create a Ruleset
  toc.json
Owners: @stoplightio/oss-spectral

docs(repo): update headings
  docs/getting-started/3-rulesets.md
  docs/guides/4-custom-rulesets.md
Owners: @stoplightio/documentation

docs(repo): update toc Custom Rulesets to Rulesets
  toc.json
Owners: @stoplightio/oss-spectral

docs(repo): break up rules into its own page
  docs/guides/4-custom-rulesets.md
  docs/guides/4f-rules.md
  toc.json
Owners: @stoplightio/documentation, @stoplightio/oss-spectral

docs(repo): cleanup md
  docs/guides/4c-aliases.md
  docs/guides/4d-overrides.md
Owners: @stoplightio/documentation

docs(repo): update ruleset properties section
  docs/guides/4-custom-rulesets.md
Owners: @stoplightio/documentation

docs(repo): update rules properties
  docs/guides/4f-rules.md
Owners: @stoplightio/documentation

docs(repo): rewording
  docs/guides/4-custom-rulesets.md
Owners: @stoplightio/documentation

docs(repo): rename files
  docs/guides/4-custom-rulesets.md
  docs/guides/4a-rules.md
  docs/guides/4b-extends.md
  docs/guides/4e-recommended.md
  docs/guides/4f-js-rulesets.md
  toc.json
Owners: @stoplightio/documentation, @stoplightio/oss-spectral

docs(repo): update toc
  toc.json
Owners: @stoplightio/oss-spectral

docs(repo): fix link
  docs/guides/4c-aliases.md
Owners: @stoplightio/documentation

fix(ruleset-bundler): virtualFs plugin not recognizing files (#2271)
  karma.conf.ts
  packages/ruleset-bundler/src/plugins/virtualFs.ts
Owners: @stoplightio/oss-spectral

chore(release): 1.3.3 [skip ci]
  packages/ruleset-bundler/CHANGELOG.md
  packages/ruleset-bundler/package.json
Owners: @stoplightio/oss-spectral

Notes added by 'git notes add'
  bf/608bfd43e89de0d588ce3e8ee81f9dd0a0ef65
Owners: @stoplightio/oss-spectral

docs(repo): pam feedback
  docs/getting-started/3-rulesets.md
  docs/guides/4-custom-rulesets.md
  docs/guides/4a-rules.md
  docs/guides/4b-extends.md
  docs/guides/4c-aliases.md
  docs/guides/4d-overrides.md
  docs/guides/4e-recommended.md
  docs/guides/4f-js-rulesets.md
Owners: @stoplightio/documentation

feat(ruleset-migrator): use Content-Type header to detect ruleset format
  packages/ruleset-migrator/src/__tests__/ruleset.test.ts
  packages/ruleset-migrator/src/index.ts
  packages/ruleset-migrator/src/transformers/extends.ts
  packages/ruleset-migrator/src/utils/__tests__/isBasicRuleset.spec.ts
  packages/ruleset-migrator/src/utils/isBasicRuleset.ts
Owners: @stoplightio/oss-spectral

feat(ruleset-bundler): skypack plugin accepts ignore list
  packages/ruleset-bundler/src/plugins/__tests__/skypack.spec.ts
  packages/ruleset-bundler/src/plugins/skypack.ts
Owners: @stoplightio/oss-spectral

fix(core): support utf8 surrogates (#2267)
  packages/core/package.json
  packages/core/src/__tests__/linter.test.ts
  packages/core/src/runner/runner.ts
  packages/core/src/runner/utils/__tests__/__fixtures__/duplicate-validation-results.json
  packages/core/src/runner/utils/__tests__/__fixtures__/non-duplicate-validation-results.json
  packages/core/src/runner/utils/__tests__/__fixtures__/random-results.ts
  packages/core/src/runner/utils/__tests__/results.test.ts
  packages/core/src/runner/utils/results.ts
  packages/core/src/spectral.ts
  packages/core/src/utils/__tests__/prepareResults.test.ts
  packages/core/src/utils/__tests__/sortResults.test.ts
  packages/core/src/utils/index.ts
  packages/core/src/utils/prepareResults.ts
  yarn.lock
Owners: @stoplightio/oss-spectral

chore(release): 1.15.1 [skip ci]
  packages/core/CHANGELOG.md
  packages/core/package.json
Owners: @stoplightio/oss-spectral

Notes added by 'git notes add'
  ca/edff1f0ecfbb0489e45cc9c96b85db3d6a6c76
Owners: @stoplightio/oss-spectral

chore(repo): tweak karma-typescript-es6-transform
  .yarn/patches/karma-typescript-es6-transform-npm-5.5.3-3d93c75049
  package.json
  yarn.lock
Owners: @stoplightio/oss-spectral

feat(ruleset-bundler): skypack plugin accepts ignore list (#2318)
  packages/ruleset-bundler/src/plugins/__tests__/skypack.spec.ts
  packages/ruleset-bundler/src/plugins/skypack.ts
Owners: @stoplightio/oss-spectral

feat(ruleset-bundler): skypack plugin accepts ignore list (#2318)
  packages/ruleset-bundler/src/plugins/__tests__/skypack.spec.ts
  packages/ruleset-bundler/src/plugins/skypack.ts
Owners: @stoplightio/oss-spectral

chore(release): 1.4.0 [skip ci]
  packages/ruleset-bundler/CHANGELOG.md
  packages/ruleset-bundler/package.json
Owners: @stoplightio/oss-spectral

.github/CODEOWNERS:

* @stoplightio/oss-spectral

README.md @stoplightio/documentation

/docs @stoplightio/documentation

/packages/rulesets/src/asyncapi @magicmatatjahu @smoya @jonaslagoni
