Repository stoplightio/spectral, pull requests merged in 2022-05, with the labels that each got.

#2147 feat(cli): sort linting results alphabetically
  packages/cli/src/services/__tests__/__fixtures__/invalid-stoplight-info-document.json
  packages/cli/src/services/__tests__/linter.test.ts
  packages/cli/src/services/linter/utils/listFiles.ts
Labels: enhancement

#2157 fix(core): bump nimma from 0.2.0 to 0.2.1
  packages/core/package.json
  yarn.lock
Labels: t/bug

#2101 feat(rulesets): add rules for validation of server variables and channel parameters
  docs/reference/asyncapi-rules.md
  packages/rulesets/src/asyncapi/__tests__/asyncapi-channel-parameters.test.ts
  packages/rulesets/src/asyncapi/__tests__/asyncapi-server-variables.test.ts
  packages/rulesets/src/asyncapi/functions/asyncApi2ChannelParameters.ts
  packages/rulesets/src/asyncapi/functions/asyncApi2ServerVariables.ts
  packages/rulesets/src/asyncapi/functions/utils/__tests__/getMissingProps.test.ts
  packages/rulesets/src/asyncapi/functions/utils/__tests__/getRedundantProps.test.ts
  packages/rulesets/src/asyncapi/functions/utils/__tests__/parseUrlVariables.test.ts
  packages/rulesets/src/asyncapi/functions/utils/getMissingProps.ts
  packages/rulesets/src/asyncapi/functions/utils/getRedundantProps.ts
  packages/rulesets/src/asyncapi/functions/utils/parseUrlVariables.ts
  packages/rulesets/src/asyncapi/index.ts
Labels: enhancement, AsyncAPI

#2104 feat(rulesets): add rules for validation uniqueness of tag names
  docs/reference/asyncapi-rules.md
  docs/reference/openapi-rules.md
  packages/rulesets/src/asyncapi/__tests__/asyncapi-tags-uniqueness.test.ts
  packages/rulesets/src/asyncapi/functions/asyncApi2DocumentSchema.ts
  packages/rulesets/src/asyncapi/index.ts
  packages/rulesets/src/oas/__tests__/openapi-tags-uniqueness.test.ts
  packages/rulesets/src/oas/index.ts
  packages/rulesets/src/shared/functions/__tests__/uniquenessTags.test.ts
  packages/rulesets/src/shared/functions/index.ts
  packages/rulesets/src/shared/functions/uniquenessTags.ts
Labels: enhancement, AsyncAPI

#2121 feat(rulesets): add rule to check uniqueness operationId of AsyncAPI operations
  docs/reference/asyncapi-rules.md
  packages/rulesets/src/asyncapi/__tests__/asyncapi-operation-operationId-uniqueness.test.ts
  packages/rulesets/src/asyncapi/functions/asyncApi2OperationIdUniqueness.ts
  packages/rulesets/src/asyncapi/functions/utils/getAllOperations.ts
  packages/rulesets/src/asyncapi/index.ts
Labels: enhancement, AsyncAPI
